.insta-post {
  margin-top: 30px;
  max-width: 615px;
  &__item {
    display: flex;
    border: 1px solid #ccc;
    max-width: 615px;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &__des {
    display: flex;
  }
  &__texts {
    margin-left: 18px;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 5px;
  }
  &__subtext {
    font-size: 12px;
    font-weight: 400;
    // color: #8e8e8e;
  }
  &__span {
    font-size: 26px;
    position: relative;
    top: -5px;
    cursor: pointer;
  }
  &__imgs {
    position: relative;
  }
  &__bigimg {
    object-fit: cover;
  }
  &__heart {
    color: #fff;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;

  }
  @keyframes zoomIn {
    0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &__icons {
    display: flex;
    padding-right: 20px;
  }
  &__icons-item {
    display: flex;
    align-items: center;
  }
  &__icons-item a {
    margin-left: 10px;
  }
  &__like {
    font-size: 28px;
  } 
}